/*
    Author : Tan Hong Guan
    Date of Creation : 7 October 2025
*/

/* === Global Reset === */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* === Base Styles === */
body {
    font-family : 'Poppins', sans-serif;
    font-size : 16px;
    color : #ffffff;
    background-color: #1f242d;
    padding : 20px;
}


#introduction {
  display : flex;
  align-items : top; 
  justify-content: center;
  flex-wrap : wrap; /* allows wrapping on smaller screens */
  margin-top : 50px; /* pushing it down */
}

#introduction .intro-text {
  align-items: center;
  padding : 20px; 
}

#introduction .intro-header{
  font-size : 26px;
  line-height : 1.8;
  text-align : left;
}

#introduction .name-highlight {
  color : #00F0FF; /* Highlight color */
}

/* Profile Picture */
#introduction .profile-pic {
  width : 300px;
  height : 300px;
  object-fit: cover;   /* crop image to fit circle */
  border-radius : 50%; /* rounded corners */
  border : 4px solid #00F0FF; /* adds a border */
  object-position: 50% 60%; /* adjust position of image within circle */
  margin-top : 20px;
}

#introduction .about-me {
  flex-wrap : wrap;
  align-items : center;
  margin-top : 30px;
  line-height : 1.6;
  font-size : 16px;
}

#introduction .contact-details {
  display : flex; 
  margin-top : 30px;
  text-align : left;
  align-items : center;
  gap : 20px;
}

#introduction .icon {
  width : 40px;
  height : 40px;
  border-radius : 10px;
}

#introduction .love {
  display: flex;
  align-items: top;
  gap : 20px; 
}

#introduction .love h1 {
  font-family :'Courier New', Courier, monospace;
  font-style : italic;
}


#introduction .develop {
  display: inline-block;
  margin-left : 180px;
}

#introduction .produce {
  display: inline-block;
  margin-left : 200px;
}



