/*
    Author : Tan Hong Guan
    Date of Creation : 7 October 2025
*/

/* === Global Reset === */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* === Base Styles === */
body {
    font-family : 'Poppins', sans-serif;
    font-size : 16px;
    color : #ffffff;
    background-color: #1f242d;
    padding : 20px;
}

/* === Introduction === */
#introduction {
  display : flex;
  align-items : top; 
  flex-wrap : wrap; /* allows wrapping on smaller screens */
  margin-top : 50px; /* pushing it down */
  width : 80%;
  margin : 0 auto; /* center the whole section */
}

#introduction .intro-text {
  align-items: center;
  padding : 20px; 
}

#introduction .intro-header{
  font-size : 26px;
  line-height : 1.8;
  text-align : left;
}

#introduction .name-highlight {
  color : #00F0FF; /* Highlight color */
}

hr {
  border : 2px solid #ffffff;
  width: 15%;
  margin : 20px 0; /* spacing above and below */
}

/* Profile Picture */
#introduction .profile-pic {
  width : 300px;
  height : 300px;
  object-fit: cover;   /* crop image to fit circle */
  border-radius : 50%; /* rounded corners */
  border : 4px solid #00F0FF; /* adds a border */
  object-position: 50% 60%; /* adjust position of image within circle */
  margin-top : 20px;
}

#introduction .about-me {
  flex-wrap : wrap;
  align-items : center;
  line-height : 1.6;
  font-size : 16px;
}

/* Contact Details */
#introduction .contact-details {
  display : flex; 
  margin-top : 30px;
  text-align : left;
  align-items : center;
  gap : 20px;
}

#introduction .icon {
  width : 40px;
  height : 40px;
  border-radius : 10px;
}

/* Coding, Developing , Producing */

#introduction .love {
  display: flex;
  align-items: top;
  gap : 20px; 
}

#introduction .love h1 {
  font-family :'Courier New', Courier, monospace;
  font-style : italic;
}


#introduction .develop {
  display: inline-block;
  margin-left : 180px;
}

#introduction .produce {
  display: inline-block;
  margin-left : 200px;
}

/* === Bottom Navigation === */

#navigation-bar {
  padding : 30px;
  text-align : center;
}

.bottom-nav .nav-links{
  display : inline-flex; /* list side by side */
  list-style : none; /* remove bullets */
  gap : 40px; /* space between items */
}

.bottom-nav .nav-links a {
  text-decoration: none; /* remove underline */
  color : #ffffff;
  font-size : 18px;
  transition : color 0.3s; /* smooth color change on hover */
}

.bottom-nav .nav-links a:hover {
  text-decoration: underline; /* underline on hover */
  color : #00F0FF ; /* hover color */
}

/* === Academic Background === */

#academic-background {
  padding : 30px;
  width : 80%;
  margin : 0 auto; /* center the whole section */
}


.academic-details {
  display: grid;
  grid-template-columns: 200px 500px 300px; /* year width | card width */
  column-gap: 40px;
  width: min(1000px, 90%);            /* center the whole row */
  row-gap: 30px;          
  margin-left: 0 auto; /* centered + spacing between rows */
  align-items:flex-start; /* don't force children to stretch to height */
}

.section-title {
  grid-column : 1 / -1; /* span all columns */
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
}

.skills span {
  padding: 4px 10px;
  border: 1px solid #fff;
  font-size: 16px;
  border-radius: 9999px;     /* nicer pill shape */
  align-self: flex-start;    /* ensure no stretch per item */
}

/* overlaying */

.school{
  position : relative;
  width : 500px ;  
}

.overlay-image {
  width : 100%;
  border-radius : 10px;
  display : block;
  opacity: 0.4;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
     rgba(0,0,0,0) 0%, 
     rgba(0,0,0,0.7) 100%);
  border-radius : 10px;
}

.overlay-text {
  position: absolute;   /* place text relative to the image */
  top: 50%;             /* move down 50% of container height */
  left: 50%;            /* move right 50% of container width */
  transform: translate(-50%, -50%); /* center perfectly */
  text-align: center;
  color: #ffffff;
  line-height : 1.4;
}

.view-more:hover {
  text-decoration: underline;
}

/* === About Me === */

#about-me {
  padding : 30px;
  width : 75%;
  margin : 0 auto; /* center the whole section */
  text-align : center;
  line-height : 1.7;

}

#about-me h1 {
  font-size : 26px;
  margin-bottom : 20px;
}

.longhr {
  border : 2px solid #ffffff;
  width: 5%;
  margin : 20px auto; /* spacing above and below, centered */
}


